.App {
  text-align: left;
}

.App-logo {
  height: 5vmin;
  padding: 25px
}

.App-header {
  background-color: #1b8cc0;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Body {
  /* background-color: #282c34; */
  padding: 10px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content:center; */
}

.DateOfBirth-Text{
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: baseline;
}

.DateOfBirth-Dropdown {
  display: flex;
  flex-direction: row;
}